.PostCommentBox {
    /* width: 1000px; */
    /* background-color: red; */
    /* margin-left: 50px; */
    /* margin-right: 50px; */
}

#comment {
    width: 100%;
    height: 75px;
}

.PostCommentBox form {
    margin-top: 40px;

}

button {
    text-align: center;
}