.ArticleBlock {
    border: 1px rgba(197, 197, 197, 0.5) solid;
    text-decoration: none;
}

.ArticleBlock:hover {
    border: 1px rgba(41, 41, 41, 0.5) solid;
    text-decoration: none;
}

.ArticleBlock h4 {
    text-decoration: none;
    color: black;
}

#ArticleBlockTitle {
    text-decoration: none;
}