body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(190, 189, 189);
}

.App {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.HeaderContainer {
  border: solid rgb(161, 161, 161) 1px;
  background-color: white;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 12; 
  justify-content: center;
}

.SidebarContainer {
  grid-row-start: 2;
  grid-row-end: span auto;
  grid-column-start: 9;
  grid-column-end: 12; 
  margin-right: 6%;
}

.ContentContainer {
  border: solid rgb(161, 161, 161) 1px;
  background-color: white;
  grid-row-start: 2;
  grid-row-end: span auto;
  grid-column-start: 1;
  grid-column-end: 9; 
  margin-left: 3%;
  border-radius: 7px;
}

@media only screen and (max-width: 600px) {
  .App {
    grid-gap: 0px;
    margin: 0px;
  }

  .ContentContainer {
    display: flex;
    flex-direction: column;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 12; 
    margin-left: 0.2em;
    margin-right: 0.2em;
  }

  .SidebarContainer {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 12; 
    margin: 0px;
  }
}